body {
    background-color: white;
    color: rgb(28, 24, 24);
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

/*Kleur en breedte van alle tekst paragrafen*/
p {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif sans-serif;
    color: rgb(102, 29, 111);
    width: 100%;
    margin: 10%;
}

/* Mouse icon styling: geeft hanje aan */
#mouse-icon {
    display: none;
}

#mouse-icon.visible {
    display: inline-block;
}

/*Flexbox Video/Grid container styling */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    flex: 1 1 30%;
    margin: 5px;
    box-sizing: border-box;
}

.flex-item img {
    max-width: 100%;
    height: auto;
}

/* Navigation styling */
.menu-container {

    justify-content: space-between;
    width: 100%;
    display: flex;

}

/*getoonde pagina onderstrepen in menu */
.menu-container a.active {
    background-color: white;
    color: #90169b;
}

/*menu layout*/
.menu-container nav {

    background-color: #90169b;
    color: white;
    padding: 10px;
    width: 100%;

}

/*unordered list style*/
.menu-container ul {

    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

/*Item in the list: menu opties*/
.menu-container li {

    flex: 1;
    /* Zorg ervoor dat elk lijstitem dezelfde breedte heeft */
    text-align: center;
    /* Center de tekst van de menu-items */
    font-size: 2em;

}

/*hyperlink in menu style*/
.menu-container a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border: none;
}

/*hyperlink in menu style als je met muis over heen beweegt*/
.menu-container a:hover {
    background-color: rgb(235, 190, 226);
    color: #90169b;
}

/*style van geslecteerde menu optie: als de link actief is*/
.menu-container a:active {
    background-color: #5a2d82;
    color: black;
}

/* Content and section styles */
.content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Lijnt de inhoud links uit */
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    /* Zorgt ervoor dat de tekst niet te breed wordt */
    text-align: center;
    /* Hiermee centreer je de tekst */
    margin: 0 auto;
    /* Zorg ervoor dat de body en html de volledige hoogte beslaan */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Centreert de tekst in de div */
}

.content-container p {
    font-size: 2em;
    /* Past de grootte van de tekst aan naar wens */
    margin: 10px 0;
    /* Ruimte tussen de paragrafen */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* Zorg ervoor dat de body en html de volledige hoogte beslaan */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Centreert de tekst in de div */
}

.content-container h1 {
    color: rgb(100, 44, 100);
    font-family: Amaranth;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Centreert de tekst in de div */
}

.content-container h2 {
    color: rgb(100, 44, 100);
    font-family: Amaranth;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Centreert de tekst in de div */
}

.content-container h3 {
    color: rgb(100, 44, 100);
    text-align: center;
    font-family: Amaranth;
    font-size: 2em;

}

/*home page styles, afwijkend van andere pagina's*/
.home-text p {
    text-align: left;
}

.home-text a {
    color: rgb(100, 44, 100);
}

/*Animatie video bloem style*/
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

video {
    width: 80%;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px 0;
    /* Maakt ruimte aan de boven- en onderkant van de afbeelding */
}

.logo-container img {
    max-width: 50%;
    height: auto;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    color: rgb(100, 44, 100);
}

.social-links a:hover {
    color: rgb(199, 168, 28);
}

.social-links img {
    height: auto;
    width: 200px;
}

.social-links h4 {
    font-size: 1.4em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Centreert de tekst in de div */
}

.newsletter-form {
    margin-top: 20px;
}

.newsletter-form label {
    font-size: 1.4em;
}

.newsletter-form input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1.4em;
}

.newsletter-form button {

    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #9a6e9a;
    color: white;
    cursor: pointer;
    /*transition: background-color 0.3s ease;*/
    font-size: 1.4em;

}

.newsletter-form button:hover {
    background-color: #821779;
}