body {
  background-color: white;
  color: rgb(28, 24, 24);
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;

}

h1 {
  color: rgb(100, 44, 100);
  font-family: Amaranth;
  
}

p {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(102, 29, 111);
  width: 100%;
  margin: 10%;
}

/* Table styling */
table {
  width: 80%;
  border: none;
}

/* Navigation styling */
nav {
  background-color: #90169b;
  color: white;
  padding: 10px;
}
/*unordered list style*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
/*Item in the list: menu opties*/
nav ul li {
  font-size: 2em;
  margin-right: 20px;
  display: inline;
  position: relative;
  padding: 20px;
  cursor: pointer;
}
/*hyper link style*/
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border: none;
}
/*hyperlink style als je met muis over heen beweegt*/
nav ul li a:hover {
  background-color: #5a2d82;
  color: black;
}
/*style van geslecteerde menu optie: als de link actief is*/
nav ul li a:active {
  background-color: #5a2d82;
  color: black;
}

/* Content and section styles */
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    /* Lijnt de inhoud links uit */
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    /* Zorgt ervoor dat de tekst niet te breed wordt */
  }
  .content img {
height: auto; 
width:400px;
  }
  .content table {
    width: 80%;
    inline-size: 20%;
    border: none;
  }
  
  .content p {
    font-size: 2em;
    /* Pas de grootte aan naar wens */
    margin: 10px 0;
    /* Ruimte tussen de paragrafen */
  }
  
  .content h2 {
    text-align: center;
    font-size: 3em;
  }
  
/*content tonen op basis van menu keuze*/
.section {
  display: none;
}

.section.active {
  display: block;
}

/* Button styling */
#interactive-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9374c0;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* Mouse icon styling: geeft hanje aan */
#mouse-icon {
  display: none;
}

#mouse-icon.visible {
  display: inline-block;
}

/* Video container styling */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
}

video {
  width: 80%;
  height: auto;
  
  
}

#videoMetGeluid {
  text-align: center;
  margin-top: 10px;
}



audio {
  display: none;
  /* Verberg het audio-element */
}

.subscribe-section {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.social-links img {
  height: auto;
  width: 200px;

}
.newsletter-form {
  margin-top: 20px;
}

.newsletter-form input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9a6e9a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #821779;
}

.subscribe-button {
  animation: pulse 1s infinite;
}

